<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>purplespark.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,119}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>purplespark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{118,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,119}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>purplespark3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,119},{118,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,119}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>purplesparkframes-hd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06fc79a3c39ef88b458fc9171ddd56d5$</string>
            <key>textureFileName</key>
            <string>purplesparkframes-hd.png</string>
        </dict>
    </dict>
</plist>
